html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2rem;
    outline: inherit;
    padding: 1rem;

}

g {
    animation-name: writeLine;
    animation-direction: normal;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
}
    

header {
    background: linear-gradient(20deg, white 20%, rgb(219, 226, 236) 50%,white 60%, rgb(219, 226, 236));
    background-size: 100vw 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60vh;
    
}

header > div {
    background: linear-gradient(rgb(219, 226, 236, 0.6),white);
    box-shadow: 0 -5px 5px black;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: 1rem;

}


h1 {
    animation-name: nameReveal;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    font-size: 3rem;
    letter-spacing: 0.75rem;
    text-align: center;
    
    
}


main:before {
    box-shadow: 0 -5px 5px black;
    content: "";
    color: black;
    display: block;
    height: 3px;
    width: 100vw;
}

nav > div {
    display: inline-block;
    position: relative;
}

nav svg {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.open {
    animation: 3s ease-in-out 0s 1 normal forwards running expandHeader

}

.closed {
    animation: 3s ease-in-out 0s 1 normal forwards running contractHeader


}

#devices {
    max-width: 100vw;
}

#devices > div:first-child {
    min-height: 200px;
    min-width: 100%;
}

#devices #screen {
    border: 2px solid #c4c4c4;
    border-radius: 10px 10px 0 0;
    height: 180px;
    margin: 0 auto;
    width: 270px;

}

#devices #bottom {
    background: linear-gradient(rgba(128, 128, 128, 0.445) 15%, white 30%, grey );
    border-radius: 0 0 5px 5px;
    height: 14px;
    margin: 0 auto;
    width: 330px;
    
}

#devices > div:last-child {
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem;
    margin: 1rem;
    max-width: 200px;
    padding: 0.25rem;
    
   
}

#devices > div:last-child > div {
    background-color: #e3e2e2;
    border: 1px solid;
    border-radius: 10px;
    height: 0.3rem;
    margin: 0 auto;
    width: 20%;

}


#devices > div:last-child > img {
    border: 1px solid;
    border-radius: 3px;
    margin-top: 4px;
    max-width: 100%;
}


@keyframes contractHeader {
    0% {
        padding-bottom: 60vh;
    }

    100% {
        padding-bottom: 0;
    }
}


@keyframes expandHeader {
    0% {
        padding-bottom: 0;
    }

    100% {
        padding-bottom: 60vh;
    }
}

@keyframes nameReveal {
    0% {
        opacity: 0;
        text-shadow: 
    1px 10px 4px black,
    1px 20px 4px #222,
    1px 30px 4px #333,
    2px 40px 4px rgba(0,0,0,0.3),
    4px 40px 4px rgba(0,0,0,0.4),
    6px 50px 4px rgba(0,0,0,0.6);
        
    }

    100% {
        opacity: 1;
        text-shadow: 
    1px 1px 4px black,
    1px 1px 4px #222,
    1px 1px 4px #333,
    2px 2px 4px rgba(0,0,0,0.3),
    4px 3px 4px rgba(0,0,0,0.4),
    6px 4px 4px rgba(0,0,0,0.6);
        
        
    }

}

@keyframes writeLine {
    0% {
        
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


@media (min-width: 700px){
    h1 {
        font-size: 5rem;
    }
    
}





